@import '../../assets/styles/global.scss';


.NewShipment {
  position: relative;
  top:-22px;
    padding-right: 20px;
    padding-left: 70px;
    overflow: hidden;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }
    .breadcrumb{
      margin-left:-12px;
    }
  .userpanel{
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .profileIconRound{
      background-color: #FABCC4;
      font-size: 0.625rem;
      width: 30px;
      height: 30px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 11px;
      display: flex;
    }
  }  

  .formContainer{
    border-radius: 0.313rem;
  }

  .form-group,
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    .custom-dropdown .btn-custom-dropdown{
      font-size:14px;
      align-items: center;
      padding-left: 0;
      @media (min-width: $xl) {
        font-size:14px;
      }
      @media (max-width: $lg) {
        font-size:12px;
      }
    }

    label {
      // color: #707070;
      text-align: center;
      font-size: 15px;
      margin-bottom:0px;
    }
     .date{
       border:none;
       outline:none;
       background: none;
     }
    .form-control {
      border: none;
      background: transparent;
      border-bottom: 2px solid #d6d6d6;
      border-radius: 0;
      color: $black;
      flex-basis: 55%;
      flex-grow: inherit;
      font-size: 15px;
    }
    .line {
      border-bottom: 2px solid #d6d6d6;
      padding: 0;
      color: $black;
      flex-basis: 65%;
      
      font-size: 14px;
      width:400px;
      
    }
    .name{
      color: #707070;
      font-weight: 400;
      font-size: 14px;
      padding: 0;
    }
    @media (min-width: $xl) {
      label {
        font-size: 15px;
        margin-bottom:0px;
      } 

  
      .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color: $black;
        flex-basis: 65%;
        flex-grow: inherit;
        font-size: 15.5px;      
      }

    }
  }
  .input-group {
    position: relative;
    margin-bottom: 1rem;

    

    .input-group-append {
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }

  .low{
    padding-bottom:0px;
    box-shadow: 0px 3px 10px #e4e4e4;
    border-radius: 10px;
  }
  .headsup{
    font-size: 15px;
    font-weight: 700;
    padding-top:1.25rem;
    padding-bottom: 0.625rem; 
  }
  .total{
    color: $OBBlue;
    font:  25px/13px $roboto;
   
  }
  .value{
    color: $black;
    font:  25px/13px $roboto;
  }

  hr {
    border-width: 2px;
    border-color: #D3D3D3;
  }

  .btn-outline-info{
    border-radius: 10px;
  }

  .tooltip {
    position: relative;
 }
 .tooltip::before {
    background-color: white;
    border: 1px solid #888;
    border-radius: 2px;
    color: #444;
    content: attr(data-title);
    display: none;
    font-family: sans-serif;
    font-size: 14px;
    padding: 2px 5px;
    position: absolute;
    top: 20px;
    left: 5px;
    z-index: 1;
 }
 .tooltip:hover::before {
    display: block;
 }

  

  .table {
    .overflow {
      height: auto;
      max-height: 400px;
    }
  }
}


.shipmentpopup{

  .data{
    font: 16px/27px $roboto ;
     color: #707070;
}

.error{
  font: 22px/36px $roboto ;
  color: #707070;
}

  .alert{
    font:  25px/0.1px $roboto;
    color: #000000;
}


}

// Making all placeholder of same color
.css-1wa3eu0-placeholder
{
  padding-bottom: 3px;
  color:grey;
  opacity: 0.5;
}
.text-danger{
  position: relative;
  //top:-30px;
  left:220px;
  font-size: 12px;
}
.text-danger-DD{
  color:rgb(223, 7, 7);
  right:10px;
  font-size: 12px;
}
.text-danger-SD{
  color:rgb(216, 9, 9);
  position:relative;
  left: 3rem;
  top:0px;
  font-size: 12px;
}
.text-danger-AB{
  color:rgb(216, 9, 9);
  position:absolute;
  left: 30.5rem;
  top:0rem;
  font-size: 12px;
}
.text-danger-LC{
  color:rgb(216, 9, 9);
  position:absolute;
  left: 30.3rem;
  top:0rem;
  font-size: 12px;
}
.refship {
  font-size: 14px;
  width: 65%;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #d1cbcb;
  //-webkit-transition: 0.1s;
  //transition: 0.1s;
  outline: none;
  float: right;
}
.input:focus {
  border-radius: 6px;
  border: 2px solid #2196f3;
}
.fetch {
  float: right;
  position: relative;
  left:355px;
  top:10px
}
.divider1{
  border-left: 1px solid #0000001A;
  height: 38px;
  
}