@import '../../assets/styles/global.scss';


.productTracing {
  padding-right: 3rem;
    padding-left: 5rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }

    .filter {
      display: flex;
      flex-basis: 60%;
    }
  
    .search-form {
      width: 60%;
      position: relative;
  
      .search-icon {
        position: absolute;
        right: 6px;
        top: 8px;
        width: 25px;
      }
  
      .allfilterbtn {
        display: flex;
        justify-content: space-around;
        flex-basis: 80%;
        align-items: center;
  
        img {
          width: 9px;
          height: 9px;
        }
      }
  
     
      .search-field {
        height: 40px;
        background: $white;
        box-shadow: 0px 1px 3px $lightGrey;
        border-radius: 8px;
        padding: 0 0 0 9rem;
        font-size: 16px;
      }
  
      .floated {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        height: 40px;
        bottom: 0;
        width: 20%;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 0;
        justify-content: space-around;
        cursor: pointer;
      }
    }

    

  .head{
    
    text-align: left;
    font: Bold 18px/13px Roboto;
    letter-spacing: 0px;
    color:#0B65C1;
    opacity: 1;
  }
  
  hr {
    border-width: 5px;
    
  }
  .panel {
    box-shadow: 0px 3px 6px $grey;
    border-radius: 15px;
    background-color: $white;
    flex-basis: 30%;
    margin-right: 1rem;
    padding: 30px;

    .divider {
      width:300px;
      margin:1rem;
      border: 1px solid $d6Grey;
      display: flex;
      align-self: center;
      @media (max-width: $md) {
        width:200px;
      }
  
    }
     
    .info{
      font: normal 10px/10px Roboto;
      color: #707070;
    }

    &:last-child {
        margin-right: 0;
    }

    .picture {
      width: 40px;
      height: 40px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 13px;
      display: flex;

      @media (min-width: $xl) {
        width: 60px;
        height: 60px;
      }
      
      &.transit-bg {
        background: #d4ebf2;
      } 
      
      img {
        width: 40px;
        height: 18px;
      }
    }
    .picture1 {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 13px;
      display: flex;

      @media (min-width: $xl) {
        width: 60px;
        height: 60px;
      }
      .symbol-bg {
        width:10px;
        height: 10px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        background: skyblue;
       
      }  
      .last-bg {
        width:10px;
        height: 10px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        display: flex;
        background: grey;
    }
    }
    .icon{
      border-radius: 50%;
      height: 40px;
      width:40px;
      background-color:pink;
      color: black;
      text-align: center;
      font-size:13px;
      padding: 10px 6px;
      

    }
    .manufacturer{
      color:#0093E9;;
    }
    .bold{
      color:#707070;
    }
    .label{
      color : #A8A8A8;
    }

    .wallet{
         white-space: nowrap;
         overflow:hidden;
         text-overflow: ellipsis;
         display:inline-block;
         font-size:11px;
         color:#707070;
    } 
  ul {
    padding: 0.1rem 0.1rem;
    display: flex;
    flex-direction: column;

    li {
      padding: 0.2rem 0.2rem;
      list-style: none;
      color : #A8A8A8;
    }
    .bold{
      color:#707070;
    }
}
}
}
  

  
  