@import "../../assets/styles/colors.scss";

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.grid {
  display: grid;
}
.grid-side {
  display: grid;
  padding: 10px;
  row-gap: 20px;
}
.gcol3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.gafc {
  grid-auto-flow: column;
}
.acc {
  align-content: center;
}
.acs {
  align-content: flex-start;
}
.aic {
  align-items: center;
}
.jic {
  justify-items: center;
}
.jis {
  justify-items: start;
}
.jsc {
  justify-self: center;
}
.gap3 {
  column-gap: 20px;
}
.gapc3 {
  column-gap: 20px;
}
.stoct-count {
  font-size: 22px !important;
}
.small-txt-1 {
  font-size: 10px;
}

.component1 {
  grid-template-columns: 18% 60% 22%;
  height: 100vh;
}
.component1-transaction {
  grid-template-columns: 227px 800px 227px;
  height: 100vh;
}
.gdash-sidebar {
  height: 100%;
  padding-right: 10px;
  padding-bottom: 60px;
  row-gap: 60px;
  align-content: flex-end;
  background-color: #53265d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.gds-links {
  display: grid;
  justify-content: start;
  align-content: center;
  color: white;
  padding-left: 30px;
  font-size: 15px;
  color: #f59c00;
  font-weight: bolder;
}
.gds-links:hover {
  cursor: pointer;
}

.bord-white {
  border-left: 10px solid white;
  width: 100%;
  padding-left: 20px;
  color: white;
}

.gdsl-in {
  height: 50px;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  column-gap: 15px;
}

.dahbtngo {
  width: 90%;
  height: 45px;
  border-radius: 30px;
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  font-size: 13px;
  align-items: center;
  margin-left: 10px;
  margin-top: 30px;
}
.dahbtnupload {
  width: 90%;
  height: 45px;
  border-radius: 10px;
  // color:white;
  justify-self: center;
  display: grid;
  grid-auto-flow: column;
  align-content: center;
  font-size: 16px;
  text-align: center;
  align-items: center;
  margin-left: 10px;
}
.uploadModal {
  background-color: #e5e0e9;
  height: auto;
  width: 600px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 3px 6px #54265e26;
}
.filterSubHeading {
  margin: 10px 0px;
  font-size: 14px;
}
.cancelButton {
  background: #54265e 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #54265e26;
  border-radius: 24px;
  color: $white;
  margin: 20px auto;
  display: flex;
  padding: 10px 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4px;
}
.uploadButton {
  background: #54265e 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 8px #54265e26;
  border-radius: 24px;
  color: $white;
  margin: 20px auto;
  display: flex;
  padding: 10px 35px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 4px;
}

.filterSelect {
  padding: 9px 17px;
  border: none;
  box-shadow: 0px 4px 8px #54265e26;
  border-radius: 10px;
  width: 100%;
}

.subTitle {
  font-size: small;
}

.filterInput {
  padding: 9px 17px;
  border: none;
  // box-shadow: 0px 4px 8px #54265e26;
  border-radius: 10px;
  width: 100%;
}

.gdash-main {
  background-color: #f6f7fb;
  padding: 30px 30px 0 30px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  align-content: flex-start;
}
.nav-pills {
  border-radius: 16px;
  background-color: #bdb1ca;
  width: fit-content;
}

.whiteC {
  background-color: white;
  border-radius: 18px;
  width: 40px;
  height: 40px;
  align-self: center;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}
.blueC {
  background-color: #333751;
  border-radius: 18px;
  width: 40px;
  height: 40px;
  align-self: center;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.boxes1,
.boxes2 {
  top: 196px;
  /* width: 250px;
      height: 189px; */
  display: grid;
  /* width: 304px; */
  height: 214px;
  justify-content: center;
  align-content: center;
  background: var(---f49c00) 0% 0% no-repeat padding-box;
  background: #f49c00 0% 0% no-repeat padding-box;
  box-shadow: 5px 5px 10px #0000000f;
  border-radius: 49px;
  opacity: 1;
  padding: 20px;
  color: white;
  row-gap: 20px;
}

.boxes1 h6,
.boxes2 h6 {
  font-weight: bold;
  font-size: 22px;
}
.boxes2 {
  background: var(---ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  color: black;
}

.boxes-inner-2 {
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  justify-self: start;
  row-gap: 7px;
}

.bi2-icons {
  padding-left: 10px;
  justify-items: center;
}

.sidebox-1 {
  /* width: 410px; */
  /* height: 124px; */
  background: var(---ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 4px #15223214;
  border-radius: 6px;
  opacity: 1;
  display: grid;
  padding: 10px;
  align-content: center;
  row-gap: 5px;
}

.sideb1-1 {
  font: var(--unnamed-font-style-normal) normal normal 13px/20px Poppins;
  text-align: left;
  font: normal normal normal 13px/20px Poppins;
  color: #7e84a3;
  opacity: 1;
}

.sideb1-2 {
  text-align: left;
  color: #131523;
  opacity: 1;
}

.sideb1-4 span:nth-child(1) {
  text-align: left;
  letter-spacing: 0.08px;
  color: #f0142f;
  opacity: 1;
  font-size: 10px;
  font-weight: bold;
}
.sideb1-4 span:nth-child(2) svg {
  color: red;
}
.sideb1-4 span:nth-child(3) {
  font: var(--unnamed-font-style-normal) normal normal 9px/15px Poppins;
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal normal 9px/15px Poppins;
  letter-spacing: 0px;
  color: #7e84a3;
  opacity: 1;
}

.nav-pills .nav-link {
  background: #54265e2e 0% 0% no-repeat padding-box;
  background: #54265e2e 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #54265e2e;
  border-radius: 30px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: #54265e 0% 0% no-repeat padding-box;
  background: #54265e 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #54265e2e;
  border-radius: 30px;
  opacity: 1;
}

.notification-thumbnail {
  top: 535px;
  left: 340px;
  width: 35px;
  height: 35px;
  background: var(--unnamed-color-ffeed7) 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}
.noti-yellow {
  background: #ffeed7 0% 0% no-repeat padding-box !important;
}
.noti-green {
  background: #eaffe2 0% 0% no-repeat padding-box !important;
}
.noti-red {
  background: #ffe6e6 0% 0% no-repeat padding-box !important;
}
.notification-thumbnail-img {
  padding-left: 10px;
  padding-top: 10px;
  top: 419px;
  left: 353px;
  width: 31px;
  height: 25px;
}
.notification-thumbnail-attach {
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 1px;
  top: 419px;
  left: 353px;
  width: 20px;
  height: 20px;
}
.notification-title {
  color: #000000;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.notification-title-sub {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
}

.notification-count {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
}
.notification-date {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
}
.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}
.bg-yellow {
  background-color: #fdab0f;
}
.bg-green {
  background-color: #3cb76c;
}
.bg-red {
  background-color: #ff6a6a;
}
.orange-bg {
  background-color: #f59c00;
}
.white-bg {
  background-color: #ffffff;
}
.purple-bg {
  background-color: #9300ff;
}
.progressContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.progress {
  height: 6px !important;
  background-color: #c9c9c9;
}
.white {
  border-radius: 20px;
  padding: 10px;
  border: 0;
  max-width: 18rem;
  background-color: #ffffff !important;
}
.selectedSupplier {
  // background-color: gray;
  background: #0d6efd40 !important;
  // border-radius: 15px !important;
  padding: 15px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.noBottomRadius {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.selectedRow {
  background: #0d6efd40 !important;
  border-radius: 15px !important;
  border: none !important;
}
.noTopRadius {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}

.selectState {
  margin-right: 10px;
}
.sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
}
.padding0 {
  padding: 0rem;
}
.abinBevLogo {
  padding: 0px 50px 70px;
}
.mainContainer {
  min-height: 100vh;
  background: $softGrey;
  border-radius: 0px 36px 36px 0px;
}
.rightSideMenu {
  background: $white;
}
.greyBG {
  background: $softGrey;
}
.progressBox {
  display: flex;
  justify-content: center;
  align-items: center;
  .progressarea {
    width: 80%;
    float: left;
  }
  span {
    float: right;
    width: 20%;
    text-align: center;
    font-size: 10px;
  }
}
.geoAnalyticsCard {
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #54265e26;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 50px;
  .geoanalyticsTitle {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.47px;
    color: #000;
    padding: 30px 25px 10px;
  }
  .geosubTitle {
    font-size: 14px;
    padding: 5px 25px 10px;
  }
}
.analyticsCard {
  position: relative;
  height: 248px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #54265e26;
  border-radius: 25px;
  overflow: hidden;
  .analyticsTitle {
    font: 12px;
    letter-spacing: 0.47px;
    color: #707070;
    padding: 30px 25px 10px;
    display: flex;
  }
  .chartAnalytics {
    bottom: 0;
    margin-top: 80px;
  }
  .analyticsPercentage {
    font-size: 20px;
    font-weight: 600;
    padding: 0px 25px;
  }
  .arrowIcon {
    width: 20px;
    height: 16px;
  }
  .yellow {
    color: #fdab0f;
  }
  .blue {
    color: #20becb;
  }
  .pink {
    color: #f85566;
  }
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 20px 10px;
  background: #e3e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b5b5b5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.tableDetals {
  // height: 50vh;
  margin-top: 20px;
  overflow: auto;

  table {
    background: #ffffff;
    border-radius: 15px;
    tbody {
      min-height: 100vh;
      overflow-y: auto;
    }
    thead {
      border-bottom: 2px solid #54265e;
    }
    th {
      padding: 10px;
      font-size: 16px;
      color: #54265e;
      font-weight: bolder;
    }
    .descending {
      box-shadow: none !important;
      &:before {
        content: "▼";
        float: right;
      }
    }
  
    .ascending {
      box-shadow: none !important;
      &:before {
        content: "▲";
        float: right;
      }
    }
    tr {
      border-bottom: 1px solid #e5e0e9;
    }
    tr:last-child {
      border: none;
    }
    td {
      vertical-align: middle;
      text-align: center;
    }
  }
  .tableProfileIconCard {
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    .profileIcon {
      margin-right: 25px;
      img {
        width: 30px;
      }
    }
  }
  .profileName {
    display: grid;
    align-items: center !important;
    text-align: left;
    .profileTitle {
      text-decoration: underline;
      font-weight: 600;
    }
    .profileTitle:hover {
      cursor: pointer;
    }
    span {
      display: flex;
      align-items: baseline;
      padding-bottom: 5px;
    }
  }
}
.white-box {
  box-shadow: 0px 1px 4px #15223214;
  border-radius: 6px;
  padding: 10px 5px;
  margin-bottom: 25px;
  .box-title {
    font-size: 13px/20px Poppins;
    text-align: left;
    letter-spacing: 0.08px;
    color: #7e84a3;
    opacity: 1;
  }
  .quantity {
    font-weight: 700;
    font-size: 18px;
  }
  .quantityDesc {
    b {
      color: #f0142f;
      font-size: 12px;
    }
    color: #7e84a3;
    font-size: 10px;
  }
}

.radioButton {
  .radioInput {
    margin-right: 5px;
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* create custom radiobutton appearance */
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 6px;
    /* background-color only for content */
    background-clip: content-box;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 50%;
  }
  .radioInput:checked {
    outline: none;
    background-color: #000000;
    padding: 2px;
  }
  display: flex;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  color: #707070;
  font-size: 14px;
  font-weight: 500;
}

.breweryCard {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 3px 6px #54265e26;
  border-radius: 15px;
  padding: 0px 30px 10px 30px;
  margin: 20px 10px;
  min-height: 340px;
  .breweryTitle {
    font-weight: 600;
    font-size: 16px;
    padding: 30px 0px 10px 0px;
  }
  .brewerySubtitle {
    font-weight: 500;
    font-size: 12px !important;
    padding: 0px 0px 10px 0px;
  }
  .breweryLocationText {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 5px;
    .breweryLoc {
      font-size: 20px;
      color: #a20134;
    }
  }
  .breweryPropertyText {
    display: block;
    font-size: 14px;
    padding: 15px 0px;
  }
  .breweryPropertyValue {
    font-size: 16px;
    font-weight: 600;
  }
}

.progress {
  height: 4px;
  border-radius: 0;
  background: #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}

.progress.progress-line-primary {
  background: rgba(156, 39, 176, 0.2);
}

.progress .progress-bar.progress-bar-primary {
  background: #9c27b0 !important;
}

.progress.progress-line-danger {
  background: rgba(244, 67, 54, 0.2);
}

.progress .progress-bar.progress-bar-danger {
  background: #f44336;
}

.progress.progress-line-warning {
  background: rgba(255, 152, 0, 0.2);
}
.progress .progress-bar.progress-bar-warning {
  background: #ff9800;
}

.inventoryDashboard {
  .productGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 160px;
    background: #ffffff;
    box-shadow: 0px 3px 6px #54265e26;
    border-radius: 15px;
    margin: 20px 10px;
    .productImage {
      width: 50%;
    }
  }
  .productGrid:hover {
    cursor: pointer;
  }
  @media (min-width: 1200px) {
    .card-container {
      min-width: 880px;
    }
  }
}
.productGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 253px;
  height: 185px;
  background: #ffffff;
  box-shadow: 0px 3px 6px #54265e26;
  border-radius: 15px;
  margin: 20px 10px;
  .productImage {
    width: 50%;
  }
}
.productGrid:hover {
  cursor: pointer;
}

.card-container {
  min-width: 1100px;
  overflow-x: auto;
  display: flex;
  padding: 3rem 0rem;
  margin-bottom: 20px;
}

.card-container-sku {
  overflow-x: auto;
  display: flex;
  padding: 2rem 0rem;
}
.cursor-pointer {
  cursor: pointer;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-container {
    min-width: 400px;
    overflow-x: auto;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-container {
    min-width: 500px;
    overflow-x: auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-container {
    min-width: 600px;
    overflow-x: auto;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-container {
    min-width: 1100px;
    overflow-x: auto;
  }
}

.card {
  margin-right: 20px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-width: 334px;
  width: 334px;
  height: 211px;
  padding: 1.5rem;
  transition: 0.2s;
  .captionSubtitle {
    font-size: 12px;
    font-weight: 400;
    color: #737373;
  }
  .breweryPropertyText {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0px;
  }
  .breweryPropertyValue {
    color: #fdab0f;
  }
}
.card:hover {
  cursor: pointer;
}
.geocard {
  background-color: #ffffff;
  margin-right: 6px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  width: 240px;
  height: 85px;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  .author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .info {
      margin-left: 1rem;
      .name {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0px;
      }
      .caption {
        font-size: 12px;
        font-weight: 400;
        padding: 3px 0px;
        color: #737373;
      }
    }
  }
}

.card .author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .info {
    margin-left: 1rem;
    .name {
      font-size: 18px;
      font-weight: 600;
      padding: 10px 0px;
    }
    .caption {
      font-size: 12px;
      font-weight: 400;
      padding: 3px 0px;
      color: #737373;
    }
  }
}

.productDetailedView {
  .progress.progress-line-default {
    background: #f7f6f4;
  }

  .progress .progress-bar.progress-bar-default {
    background: #54265e;
  }
  .productDetailCard {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 3px 6px #54265e26;
    border-radius: 15px;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productGrid {
    width: 210px;
    height: 120px;
    margin: 0px;
  }
  .productcard {
    width: 100%;
    padding: 0px 30px;
    .productText {
      display: block;
      font-size: 14px;
      font-weight: 600;
      padding-top: 15px;
    }
    .breweryPropertyValue {
      font-size: 16px;
      font-weight: 600;
      color: #fdab0f;
      display: block;
      padding: 5px 0px;
    }
    .captionSubtitle {
      font-size: 12px;
      font-weight: 400;
      color: #737373;
      padding-bottom: 10px;
    }
  }
  .productSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .info {
      margin-left: 1rem;
      .name {
        font-size: 18px;
        font-weight: 600;
        padding: 10px 0px;
      }
      .caption {
        font-size: 12px;
        font-weight: 400;
        padding: 3px 0px;
        color: #737373;
      }
    }
  }
  .productsChart {
    background: #ffffff;
    box-shadow: 0px 3px 6px #54265e26;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    .productsChartTitle {
      color: #a20134;
      font-size: 16px;
      font-weight: 600;
      padding: 10px 20px;
      margin-bottom: 20px;
    }
  }
  .stateLink {
    text-decoration: underline;
    color: #000;
    font-weight: 600;
  }
}

.displayImageName {
  display: flex;
  justify-content: center;
  font-size: 16px;
  .displayImage {
    width: 15px;
    height: 100%;
    margin: 0px 10px;
  }
}
.stateandDistrictCard {
  background: #ffffff;
  width: 32.85em;
  border-radius: 20px;
  margin: 5px 10px;
  padding: 15px 10px;
  h2 {
    font-size: 20px;
    font-weight: 600;
    color: #54265e;
  }
}
.stateDistrictTableContainer {
  background: #ffffff;
  border-radius: 20px;
  padding: 20px 0px;
}

.supplierImage {
  display: flex;
  justify-content: center;
  font-size: 16px;
  .displayImage {
    width: 36px;
    height: 100%;
    margin: 0px 10px;
  }
  .supplierNames {
    display: inline-block;
    text-align: left;
    line-height: 20px;
  }
  .group {
    font-size: 12px;
    font-weight: 500;
    border-radius: 5px;
    padding: 0px 2px;
    color: #ffffff;
  }
  .s1group {
    background-color: #A344B7;
  }
  .s2group {
    background-color: #F45733;
  }
  .s3group {
    background-color: #FFC700;
  }
}
.round {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 8px #54265e26;
  color: #fff;
  text-align: center;
  .marron {
    color: maroon;
  }
}
.round:hover {
  background: maroon;
  cursor: pointer;
  .marron {
    color: #fff;
  }
}
.round.round-lg {
  height: 40px;
  width: 40px;
  line-height: 40px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 1.5em;
}

.boldGreen {
  color: green;
  font-weight: bolder;
  font-size: 16px;
}
.boldPurple {
  color: purple;
  font-weight: bolder;
  font-size: 16px;
}
.boldblue {
  color: blue;
  font-weight: bolder;
  font-size: 16px;
}
.badge-purple {
  padding: 2px 10px;
  border-radius: 10px;
  margin: 3px 0px;
  background-color: blueviolet;
  color: #ffffff;
  text-align: center;
  width: 50px;
}
.badge-orange {
  background-color: orange;
}
.spmDetail {
  .spmAddress {
    text-align: left;
    line-height: 20px;
  }
  address {
    word-wrap: break-word;
    white-space: pre-line;
  }
  .addressTitle {
    font-weight: 600;
  }
}
.spmDetailsUserCard {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  .profileIcon {
    margin-right: 10px;
    img {
      width: 30px;
    }
  }
  .profileName {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;
    text-align: left;
    .profileTitle {
      text-decoration: underline;
      font-weight: 600;
    }
    label {
      margin: 2px 0px;
    }
    .profileTitle:hover {
      cursor: pointer;
    }
    b {
      font-weight: 600;
    }
  }
}

.radialBarChartContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.renderLegendCircle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
}

.renderLegend {
  display: flex;
  gap: 3em;
  // justify-content: center;
  align-items: center;
}

.renderLegendLabel {
  display: flex;
  align-items: center;
  gap: 1.5em;
  justify-content: center;

  .renderLabelFont {
    font-size: 15px;
    font-weight: 600;
  }
}

.stateTitle{
  text-align: left;
  font-weight: bolder;
  font-size: 17px;
  padding: 10px 10px;
  border-bottom: 1px solid #CCC;
  margin-bottom: 10px;
}

.custom-tooltip{
  background-color: #ffffff;
  padding:20px;
  border-radius: 20px;
  font-weight: bolder;
  color:#000000
}
